<!DOCTYPE html>
<html lang="en">
<head>
  <title>Picky Foody</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/animations.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <style>

    ul{
      list-style-type: none;
    }
    
    div ul li img{
      display: block;
      position: absolute;
      left: 35%;
      top:  35%;
/*      margin-left: auto;
      margin-right: auto;*/
      height: 300px; 
      width: 300px;
      animation: slideDown;

    }



  </style>
</head>


<body>
<h1>Picky Foody</h1>
<div class="center">
<ul>
    <li class="swipe" id='filterOthers' ><img  src='/static/images/romantic.jpg' ></li>
    <li class="swipe" id='filterFineDining'><img  src='/static/images/ambient.jpg'  ></li>
    <li class="swipe" id='filterKids'><img src='/static/images/kids.jpg' ></li>
    
</ul>
</div>

<!-- Include hammer.js library -->
<script src="//d3kt63i4n3r3r8.cloudfront.net/assets/examples/hammer-1.1.1-74c3a245b2081b735186d31209e4569f.js"></script>
<script>
    // Initialize the good old webDevBreak namespace
    var webDevBreak = {};

    webDevBreak.prepareForTouches = function() {

        function deleteRightElement(event) {
            
            var elementToDelete = event.target;
            $(this).addClass("fadeOutRight");
            // elementToDelete.addClass('fadeOutRight'); 
            // Stop detecting touches on element when it's no longer needed. Can prevent odd behaviour.
            event.gesture.stopDetect();
            elementToDelete.style.display = 'none';
            
        };
        function deleteLeftElement(event) {
            var elementToDelete = event.target;
            // $(this).addClass("fadeOutLeft");
            // $(this).addClass("fadeOutLeft");
            // Stop detecting touches on element when it's no longer needed. Can prevent odd behaviour.
            event.gesture.stopDetect();
            elementToDelete.style.display = 'none';
            $.getJSON("/static/js/kidfriendly.json", function(json) {
              $('#filterFineDining').html("<img class='swipe' src='" + json[2].src + "'>");
                  kid_image_list = []
                  for (var item = 0; item < json.length; item += 1) {
                    var kidFoodName = json[item].alt;
                    var kidFoodLink = json[item].href;
                    var kidFoodImg = json[item].src;
                    kid_image_list.push(kidFoodImg);
                    // initTouchListeners();
                   

                   
               }
               // console.log(kid_image_list);
               // console.log(json)
              });
        };


        var swipeOptions = { dragLockToAxis: true, dragBlockHorizontal: true };

        function initTouchListeners(touchableElement) {
            var touchControl = new Hammer(touchableElement, swipeOptions);
            touchControl.on("swiperight", deleteRightElement)
                        .on("swipeleft", deleteLeftElement);
        };

        // # this is the entrance. 
        var listItems = document.querySelectorAll('.swipe');
        var filterFineDining = document.querySelectorAll('#filterFineDining');


        for (var i = 0; i < listItems.length; i += 1) {
             initTouchListeners(listItems[i]);
        }
    }
    webDevBreak.prepareForTouchesWhenReady = function() {
        document.addEventListener("DOMContentLoaded", webDevBreak.prepareForTouches);
    };

    webDevBreak.prepareForTouchesWhenReady();

</script>


</body>
</html>
