<!DOCTYPE html>
<html lang="en">
<head>
  <title>Picky</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/animations.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/picky.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="horizon" style="color: white;
text-align: center;
position: absolute;
top: 15%;
left: 0px;
width: 100%;
height: 1px;
overflow: visible;
visibility: visible;
display: block;">
<div class="content" style="font-family: Verdana, Geneva, Arial, sans-serif;
margin-left: -150px;
position: absolute;
top: -50px;
left: 50%;
width: 300px;
height: 300px;
visibility: visible;">
<h1>PICKY</h1>
<h3>Swipe left for no and right for yes.</h3>
<div class="container">
  {% block content %}
  {% endblock %}
</div>
</div>
<div id="horizon2" style="color: white;
text-align: center;
position: absolute;
top: 20%;
left: 0px;
width: 100%;
height: 1px;
overflow: visible;
visibility: visible;
display: block;">

</div>
</div>
<!-- Include hammer.js library -->
<script src="//d3kt63i4n3r3r8.cloudfront.net/assets/examples/hammer-1.1.1-74c3a245b2081b735186d31209e4569f.js"></script>
<script>
    // Initialize the good old webDevBreak namespace
    var webDevBreak = {};

    webDevBreak.prepareForTouches = function() {

        function deleteRightElement(event) {
            
            var elementToDelete = event.target;
            $(this).addClass("fadeOutRight");
            // elementToDelete.addClass('fadeOutRight'); 
            // Stop detecting touches on element when it's no longer needed. Can prevent odd behaviour.
            event.gesture.stopDetect();
            elementToDelete.style.display = 'none';
            $('.center').css('display', 'none');
            $(".kids").css("display", "block")

            var kidsItems = document.querySelectorAll('.kids li');
            for (var i = 0; i < kidsItems.length; i += 1) {
                initKidListeners(kidsItems[i]);
            }
            
        };
        function deleteLeftElement(event) {
            var elementToDelete = event.target;
            // $(this).addClass("fadeOutLeft");
            // $(this).addClass("fadeOutLeft");
            // Stop detecting touches on element when it's no longer needed. Can prevent odd behaviour.
            event.gesture.stopDetect();
            elementToDelete.style.display = 'none';
            // $.getJSON("/static/js/kidfriendly.json", function(json) {
            //   $('#filterFineDining').html("<img class='swipe' src='" + json[2].src + "'>");
            //       kid_image_list = []
            //       for (var item = 0; item < json.length; item += 1) {
            //         var kidFoodName = json[item].alt;
            //         var kidFoodLink = json[item].href;
            //         var kidFoodImg = json[item].src;
            //         kid_image_list.push(kidFoodImg);
            //         // initTouchListeners();
                   

                   
               // }
               // console.log(kid_image_list);
               // console.log(json)
              // });
        };


        function deleteElement(event) {
            var elementToDelete = event.target;
            // Stop detecting touches on element when it's no longer needed. Can prevent odd behaviour.
            event.gesture.stopDetect();
            elementToDelete.style.display = 'none';
        };

        function initKidListeners(touchableElement) {
            var touchControl = new Hammer(touchableElement, swipeOptions);
            touchControl.on("swiperight", deleteRightElement)
                        .on("swipeleft", deleteLeftElement);
                
        };

        var swipeOptions = { dragLockToAxis: true, dragBlockHorizontal: true };

        function initTouchListeners(touchableElement) {
            var touchControl = new Hammer(touchableElement, swipeOptions);
            touchControl.on("swiperight", deleteRightElement)
                        .on("swipeleft", deleteLeftElement);
        };

        // # this is the entrance. 
        var listItems = document.querySelectorAll('li');
        var filterFineDining = document.querySelectorAll('#filterFineDining');


        for (var i = 0; i < listItems.length; i += 1) {
             initTouchListeners(listItems[i]);
        }
    }
    webDevBreak.prepareForTouchesWhenReady = function() {
        document.addEventListener("DOMContentLoaded", webDevBreak.prepareForTouches);
    };

    webDevBreak.prepareForTouchesWhenReady();

</script>


</body>
</html>
